@charset "UTF-8";
/* colores */
/* tamaño fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background-image: radial-gradient(circle, #67050e, #5f040e, #56030e, #4e020d, #46020c, #3e030c, #37050c, #2f050b, #26050b, #1e0309, #130205, #000000); }

.container__grid {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header header" "main main" "main main " "main  main" "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto; }
  .container__grid .encabezado {
    grid-area: header;
    display: flex;
    flex-direction: column; }
  .container__grid .logo {
    width: 40%; }
  .container__grid .tamaño {
    font-size: x-large; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center; }
  footer a {
    color: white;
    font-size: 3rem; }

@media screen and (max-width: 760px) {
  main section .titulo, main section .subtitulo {
    font-size: large; }
  main section .texto {
    font-size: medium; }
  main section .imagen {
    width: 70%; }
  main .subtitulo {
    font-size: large;
    text-align: center; }
  main section div .texto4 {
    font-size: large;
    margin: 2%;
    margin-bottom: 5%;
    text-align: justify; }
  main section div .calendario {
    width: 70%; }
  main section .texto2 {
    font-size: large;
    margin: 2%;
    margin-top: 5%; }
  section .texto5 {
    font-size: large;
    margin: 1%;
    text-align: justify; }
  section .texto3, section .texto4, section .texto5 {
    font-size: large;
    margin: 1%;
    text-align: justify; }
  section .criticas {
    width: 30%;
    height: 10%;
    margin-bottom: 15%;
    margin-left: 5%; }
    section .criticas:focus {
      width: 35%;
      height: 15%;
      font-size: large; }
  section .criticas_enviar {
    width: 25%;
    height: 10%;
    margin-bottom: 15%; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  main section .titulo, main section .subtitulo {
    font-size: xx-large; }
  main section div .texto {
    font-size: x-large;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify; }
  main section div .imagen {
    width: 65%; }
  main .subtitulo {
    font-size: xx-large; }
  main .subtitulo {
    font-size: xx-large;
    text-align: center; }
  main section div .texto4 {
    font-size: x-large;
    margin: 2%;
    margin-bottom: 5%; }
  main section div .calendario {
    width: 60%; }
  main section .texto2 {
    font-size: x-large;
    margin: 2%;
    margin-top: 10%;
    margin-bottom: 10%; } }

.container__grid .encabezado .video {
  width: 100%;
  height: 90%; }

.titulo, .subtitulo {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: xx-large; }

.subtitulo {
  font-family: 'Roboto Condensed', sans-serif; }

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: white; }

.tarjetaautos {
  width: 90%;
  border: #620808;
  border-style: solid;
  box-shadow: 0 15px 15px #0b0b0b;
  filter: grayscale(1); }
  .tarjetaautos:hover {
    filter: none; }

.tarjetapilotos {
  width: 90%;
  filter: grayscale(1); }
  .tarjetapilotos:hover {
    filter: none; }

.texto {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 500;
  color: white; }

.imagen {
  width: 50%;
  border: solid white 2px; }

.calendario {
  width: 40%;
  border: solid white 1px; }

.texto2 {
  text-align: justify;
  margin: 10%;
  font-size: x-large;
  color: white; }

.texto3, .texto4, .texto5 {
  font-size: x-large;
  color: white; }

.texto5 {
  margin-top: 40px; }

.encuesta__tipo {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: large;
  margin-left: 2%; }

.criticas {
  width: 20%;
  height: 20%;
  margin-bottom: 15%;
  margin-left: 2%; }
  .criticas:focus {
    width: 25%;
    height: 25%;
    font-size: x-large;
    margin-bottom: 15%;
    margin-left: 2%; }

.criticas_enviar {
  width: 10%;
  height: 20%;
  margin-bottom: 15%; }
