main {
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight:  map-get($fuentes, uno );
        color: $color-blanco;
        text-align: center;
        font-size: $fuente3;
    }

    .tarjeta {
        @include tarjetas;

    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight:  map-get($fuentes, dos );
        color: $color-blanco;
    }
}