main {
    h1 {
        font-family: 'Albert Sans', sans-serif;
        font-weight:  map-get($fuentes, uno );
        color: $color-blanco;
        text-align: center;
        font-size: $fuente3;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight:  map-get($fuentes, dos);
        color: $color-blanco;
    }

    p {
        @extend h3;
        font-weight:  map-get($fuentes, tres);
        font-size: $fuente1;
        
    }

    .encuesta__tipo {
        display: flex;
        flex-direction: row;
        color: $color-blanco;
        font-size: $fuente1;
        margin-left: 2%;
    }
    .criticas{
        width: 20%;
        height: 20%;
        margin-bottom: 15%;
        margin-left: 2%;
    }   
         &:focus{
            
             width: 25%;
             height: 25%;
             font-size: $fuente2;
             margin-bottom: 15%;
             margin-left: 2%;
    }
   

}