@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-image: $color-fondo;
}

.container__grid {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header"
        "main main"
        "main main "
        "main  main"
        "footer footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

    a {
        color: $color-blanco;
        font-size: 3rem;
    }


}