main {
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        color: $color-blanco;
        text-align: center;
        font-size: $fuente3;
    }

    .tarjeta {
        width: 90%;
        border: rgb(98, 8, 8) 5px;
        border-style: solid;
        box-shadow: 0 15px 15px rgb(11, 11, 11);
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        color: $color-blanco;
    }


}