/* colores */
$color-blanco:white;
$color-bordo:rgb(98, 8, 8);
$color-fondo:radial-gradient(circle, #67050e, #5f040e, #56030e, #4e020d, #46020c, #3e030c, #37050c, #2f050b, #26050b, #1e0309, #130205, #000000);
/* tamaño fuentes */
$fuente1:large;
$fuente2:x-large;
$fuente3:xx-large;